<!DOCTYPE html>
<html lang="es">

{{ partial "head.html" . }}

<body class="page page-4aniv">
  {{ partial "header.html" . }}

  <main class="main ">
    <div class="container">
      {{ .Content }}
    </div>
  </main>

  {{ partial "footer.html" . }}
  {{ partial "scripts.html" . }}
</body>
</html>
