<div class="section-title">
  <h2>Blog Comunidad</h2>
</div>
<div class="section-content">
  {{ range first 6 (where .Site.RegularPages "Type" "=" "blog")}}
    {{ partial "post-tiny.html" . }}
  {{ end }}
</div>
