<div class="message">
  <div class="container">
    <div class="row">
      <h1 class="xalapacode">Mensaje a la comunidad</h1>
      <p>En xalapacode no hay nada más importante que la comunidad y lo que compartimos en ella, somos una comunidad hecha por y para nuestros miembros.</p>
      <p>Es por ello que en esta crisis que estamos viviendo hacemos un llamado a nuestros miembros, colaboradores y comunidades aliadas a difundir y compartir el mensaje de nuestras autoridades sanitarias para combatir la desinformación y el alarmismo y acatar las medidas que se estan implementando.</p>
      <p>Es momento de ser solidarios, es momento en el que podemos hacer algo, es momento de quedarse en casa.</p>
      <div class="buttons">
        <div class="col-50">
          <a href="https://www.gob.mx/salud" class="btn btn-main">Secretaria de Salud</a>
        </div>
        <div class="col-50">
          <a href="https://coronavirus.gob.mx" class="btn btn-main">Página de Coronavirus</a>
        </div>
      </div>
    </div>
  </div>
</div>
